Add broadcast support

Support for servers in broadcast most. See [RFC 4330 §2](https://tools.ietf.org/html/rfc4330#section-2) for a description.